div
  h1 Login
    small Select login provider
  hr
  div
    a.btn.btn-default(href="auth/google") Google
    a.btn.btn-default(href="auth/facebook") Facebook
    a.btn.btn-default(href="auth/twitter") Twitter
